<!-- Card Section -->
<div class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 mx-auto">
  <!-- Card -->
  <div class="bg-white rounded-xl shadow-xs p-4 sm:p-7 dark:bg-neutral-800">
    <div class="mb-8">
      <h2 class="text-xl font-bold text-gray-800 dark:text-neutral-200">
        Crear Usuario
      </h2>
      <p class="text-sm text-gray-600 dark:text-neutral-400">
        Ingresa la información del nuevo usuario
      </p>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="submitUserForm()">
      <!-- Grid -->
      <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
        
        <!-- Username -->
        <div class="sm:col-span-3">
          <label for="username" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
            Usuario
          </label>
        </div>
        <div class="sm:col-span-9">
          <input id="username" formControlName="username" type="text"
            class="py-1.5 sm:py-2 px-3 block w-full border-gray-200 shadow-2xs sm:text-sm rounded-lg 
                   focus:border-blue-500 focus:ring-blue-500 
                   dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 
                   dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            placeholder="Nombre de usuario" required>
        </div>

        <!-- Email -->
        <div class="sm:col-span-3">
          <label for="email" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
            Correo electrónico
          </label>
        </div>
        <div class="sm:col-span-9">
          <input id="email" formControlName="email" type="email"
            class="py-1.5 sm:py-2 px-3 block w-full border-gray-200 shadow-2xs sm:text-sm rounded-lg 
                   focus:border-blue-500 focus:ring-blue-500 
                   dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 
                   dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            placeholder="correo@site.com" required>
        </div>

        <!-- Password -->
        <div class="sm:col-span-3">
          <label for="password_hash" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
            Contraseña
          </label>
        </div>
        <div class="sm:col-span-9">
          <input id="password_hash" formControlName="password_hash" type="password"
            class="py-1.5 sm:py-2 px-3 block w-full border-gray-200 shadow-2xs sm:text-sm rounded-lg 
                   focus:border-blue-500 focus:ring-blue-500 
                   dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 
                   dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            placeholder="Mínimo 6 caracteres" required>
        </div>

        <!-- Nombre -->
        <div class="sm:col-span-3">
          <label for="nombre" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
            Nombre
          </label>
        </div>
        <div class="sm:col-span-9">
          <input id="nombre" formControlName="nombre" type="text"
            class="py-1.5 sm:py-2 px-3 block w-full border-gray-200 shadow-2xs sm:text-sm rounded-lg 
                   focus:border-blue-500 focus:ring-blue-500 
                   dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 
                   dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            placeholder="Nombre" required>
        </div>

        <!-- Apellido -->
        <div class="sm:col-span-3">
          <label for="apellido" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
            Apellido
          </label>
        </div>
        <div class="sm:col-span-9">
          <input id="apellido" formControlName="apellido" type="text"
            class="py-1.5 sm:py-2 px-3 block w-full border-gray-200 shadow-2xs sm:text-sm rounded-lg 
                   focus:border-blue-500 focus:ring-blue-500 
                   dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 
                   dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            placeholder="Apellido" required>
        </div>

        <!-- Teléfono -->
        <div class="sm:col-span-3">
          <label for="telefono" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
            Teléfono
          </label>
        </div>
        <div class="sm:col-span-9">
          <input id="telefono" formControlName="telefono" type="text"
            class="py-1.5 sm:py-2 px-3 block w-full border-gray-200 shadow-2xs sm:text-sm rounded-lg 
                   focus:border-blue-500 focus:ring-blue-500 
                   dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 
                   dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            placeholder="Teléfono">
        </div>

        <!-- Fecha nacimiento -->
        <div class="sm:col-span-3">
          <label for="fecha_nacimiento" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
            Fecha de nacimiento
          </label>
        </div>
        <div class="sm:col-span-9">
          <input id="fecha_nacimiento" formControlName="fecha_nacimiento" type="date"
            class="py-1.5 sm:py-2 px-3 block w-full border-gray-200 shadow-2xs sm:text-sm rounded-lg 
                   focus:border-blue-500 focus:ring-blue-500 
                   dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 
                   dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            required>
        </div>

        <!-- Rol -->
        <div class="sm:col-span-3">
          <label for="id_rol" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
            Rol
          </label>
        </div>
        <div class="sm:col-span-9">
          <select id="id_rol" formControlName="id_rol"
            class="py-1.5 sm:py-2 px-3 block w-full border-gray-200 shadow-2xs sm:text-sm rounded-lg 
                   focus:border-blue-500 focus:ring-blue-500 
                   dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 
                   dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            required>
            <option value="">Seleccione un rol</option>
            <option value="1">ADMINISTRADOR</option>
            <option value="2">ARBITRO</option>
            <option value="3">ENTRENADOR</option>
            <option value="3">JUGADOR</option>
            <option value="3">COMUNIDAD</option>
          </select>
        </div>
      </div>
      <!-- End Grid -->

      <!-- Botones -->
      <div class="mt-5 flex justify-end gap-x-2">
        <button
          routerLink="/dashboard1/panel-users" 
          type="button"
          class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg 
                 border border-gray-200 bg-white text-gray-800 shadow-2xs 
                 hover:bg-red-500 hover:text-white focus:outline-hidden focus:bg-gray-50 
                 dark:bg-transparent dark:border-neutral-700 dark:text-neutral-300 
                 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
          Cancelar
        </button>
        <button type="submit" [disabled]="userForm.invalid"
          class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg 
                 border border-transparent bg-blue-600 text-white 
                 hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 
                 disabled:opacity-50 disabled:pointer-events-none">
          Registrar
        </button>
      </div>
    </form>
  </div>
  <!-- End Card -->
</div>
<!-- End Card Section -->