<div class="grid grid-cols-3 gap-2" >
    @for (team of teamList; track $index) {
        <app-team-card 
            [teamData]="team"
            (teamDeleted)="onTeamDeleted(team.id_equipo)"
        />
    }
</div>
<div class="">
    <div class="container">
        <app-paginator
            [currentPage]="this.currentPage"
            [totalPages]="this.totalPages"
            [totalItems]="this.totalItems"
            [limit]="this.limit"
            (pageChange)="onPageChange($event)"
            (limitChange)="onLimitChange($event)">
        ></app-paginator>
    </div>
</div>