<div class="container">
    <app-banner [title]="`Jugadores`"></app-banner>
</div>

<div class="container">
    
    <!-- <div class="grid grid-cols-3 gap-2"> -->
    <!-- <div class="grid grid-cols-3 gap-2">
        @for (player of playerList; track $index) {
            <app-player-card 
                [playerData]="player"
                (playerDeleted)="onPlayerDeleted(player.id_jugador)"     
            />
        }
    </div> -->


<div class="container mx-auto px-3">
  <div class="grid gap-4 grid-cols-[repeat(auto-fit,minmax(16rem,1fr))]">
    @for (player of playerList; track $index) {
      <app-player-card
        [playerData]="player"
        (playerDeleted)="onPlayerDeleted(player.id_jugador)"
      />
    }
  </div>
</div>

    <div class="container">
        <app-paginator
            [currentPage]="this.currentPage"
            [totalPages]="this.totalPages"
            [totalItems]="this.totalItems"
            [limit]="this.limit"
            (pageChange)="onPageChange($event)"
            (limitChange)="onLimitChange($event)">
        ></app-paginator>
    </div>
</div>
